
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'open sans-serif';
}
body{
    height:10;
    background: linear-gradient(120deg, #c9b117d8,#ff2525da);
}